body {
	text-align: center;
	align-content: center;
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

ul {

}