body {
	text-align: center;
	align-content: center;
	font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    margin: 0;
}
